doctype 5
html(ng-app="outfitter")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://code.jquery.com/jquery-1.9.1.min.js')
		script(src='http://code.jquery.com/ui/1.10.0/jquery-ui.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
		
		script(src='javascript/lib/bootstrap.min.js')
		script(src='javascript/lib/angular-strap.min.js')
		script(src='javascript/app.js')
	body
		h1= title
